.footer {
    background-color: #222;
    color: #fff;

}

.footer_content {
    display: flex;
    padding-top: 40px;
    column-gap: 40px;
    padding-bottom: 20px;
}

.email_icon {
    width: 30px;
}

.info_email {
    color: inherit;
    text-decoration: none;
}

.contacts_footer {

    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;
}
.copyright{
    margin-top: 3px;
}

.title_contacts{
    margin-bottom: 10px;
    font-size: 14px;
}
.title_menu{
    margin-bottom: 10px;
    font-size: 14px;
}

@media screen and (max-width: 767px) {
.contacts_footer {
    display: flex;
    flex-direction: row;
    column-gap: 7px;
}
.copyright {
    margin-top: 0;
}
.footer_content {
    column-gap: 0px;
   
}
}