body{
    font-family: 'Cousine', sans-serif;
    background-color: black;
    color: white;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;


}
@media screen and (max-width: 767px) {
    .container {
        max-width: 340px;
        margin: 0 auto;
    
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {


    .container {
        max-width: 748px;
        margin: 0 auto;
    }

}
