.form_text {
    font-size: 48px;
    margin-bottom: 40px;
}

.form_subtext {
    font-size: 16px;
    color: #9D9D9D;
    max-width: 450px;
}

.form_wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 210px;

}

.name_input {
    width: 225px;
    margin-top: 20px;
    border-bottom: 2px solid grey;
}

.text_input {
    font-size: 20px;
    margin-top: 20px;
}

.form_title {
    margin-bottom: 50px;
    font-size: 20px;
}

.submit_form {

    font-weight: 900;
    font-size: 20px;
    color: black;


}

.but_submit {
    padding: 16px 20px;
    margin-top: 80px;
    margin-bottom: 100px;
    width: 134px;
    height: 57px;
    background-color: #FDFDFD;
    display: flex;
}
.but_submit:hover {
    background-color: #AF1D42;
    transition: all 0.2s ease-in;
}

.file-button {
    font-weight: 700;
    margin-top: 40px;
    width: 120px;
    height: 37px;
    padding: 8px 12px;
    background-color: #8F8F8F;
    color: black;
    cursor: pointer;
    font-size: 14px;
}

.form_component {
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    max-inline-size: 1110px;
}

.sub_wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    font-size: 10px;
}

.text_file {
    color: #8E8E8E;
    margin-top: 54px;
}

.text_sub {
    margin-top: 100px;
    color: #8E8E8E;
}

.error {
    font-size: 12px;
}

.name_input {
    font-size: 12px;
    height: 30px;
    
}
.name_input::grammar-error{
    background-color: black;
}

.file-container {
    position: relative;
    display: inline-block;
}

.file {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.input_none{
    display: none;
}
@media screen and (max-width: 767px) {
    .form_text {
        font-size: 46px;
    }
    .form_wrapper {
        display: flex;
        flex-direction: column;
        column-gap: 210px;
    }

    .form_title {
        margin-top: 50px;
    }

    .text_file {
        margin-top: 20px;
    }

    .but_submit {
        margin-top: 20px;
        margin-bottom: 0px;

    }

    .text_sub {
        margin-top: 20px;
        margin-bottom: 50px;

    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .form_wrapper {
        display: flex;
        flex-direction: column;
        column-gap: 210px;
    }

    .form_title {
        margin-top: 50px;
    }

}