.chat-button {
    position: fixed;
    bottom: 100px;
    right: 20px;
    background: grey;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
}

.close-button{
    position: fixed;
    bottom: 100px;
    right: 20px;
    background: grey;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    cursor: pointer;
}
.close_img{
    width: 50%;
}
.open_img{
    width: 50%;
}
.chat-input {
    position: fixed;
    bottom: 100px;
    right: 0px;
    width: 400px;
    height: 200px;
    border: 2px solid grey;

}

.chat_wrapper{
    position: fixed;
    bottom: 100px;
    right: 100px;
    width: 480px;
    height: 400px;
    border: 2px solid grey;
    background-color: white;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10%;
}
.form{
    margin-top: 100px;
}

.imgsendchat{
    position: absolute;
    margin-top: 150px;
    margin-left: 410px;
}
.input_message{
    position: absolute;
    margin-top: 200px;
    margin-left: 50px;
    font-size: 22px;
    color: black;

}
.chat_message{
overflow-y: auto
}

@media screen and (max-width: 767px) {

    .chat_wrapper {
        width: 200px;
        height: 200px;
    }
    .input_message {
        position: absolute;
        margin-left: 20px;
        font-size: 14px;
        margin-top: 40px;
    }
    .imgsendchat {
        position: absolute;
        margin-left: 145px;
        bottom: 15px;
        width: 30px;
    }
    .submit_button {
        margin-top: 0px;
        margin-left: 0px;
        bottom: 60px;
    }

}

@media screen and (max-width: 280px) {
.chat-button {
    right: 60px
}
.close-button {
    right: 60px;
}
.chat_wrapper {
    width: 180px;
    height: 180px;
}
.chat_wrapper {
    right: 120px;
}
.input_message {
    margin-top: 30px;
}
.imgsendchat {
    bottom: 7px;
}
}