.stack {
    margin-top: 100px;
    margin-bottom: 100px;
}

.stack_text {
    font-size: 64px;
    text-align: center;
}

.slick-slide {
    margin-top: 60px;
    text-align: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    transition: all 0.5s ease;

}

.slick-slide div{
    margin: 0 1rem;
}

.slick-slide h3 {
    color: #333;
}
.icon_stack {
   
    margin-top: 100px;
    width: 400px;
    height: 200px;
}

