.description {
    margin-top: 20px;
    margin-bottom: 200px;
    background-color: black;
}

.logo-img {
    position: absolute;
    top: 45px;
    right: 30px;
    width: 36px;
    height: 25px;
    z-index: 11;

}



.desc_content {
    width: 800px;
    height: 500px;
    border: 2px solid #AF1D42;
    margin-left: 30px;

}

.container_wrapper {
    display: flex;
    column-gap: 10%;
    padding-top: 35px;

}

.desc_text {

    font-size: 55px;
    letter-spacing: -.4px;
    margin-bottom: 60px;
    color: white;
    padding-top: 50px;
    max-height: 250px;
    padding-left: 30px;
    text-align: left;


}

.desc_subtext {
    font-size: 16px;
    line-height: 44px;
    margin-bottom: 10px;
    color: white;
    margin-left: 300px;

}

.desc_sub_sub {
    font-size: 14px;
    line-height: 44px;
    margin-bottom: 20px;
    color: white;
    margin-left: 600px;
}

.descrip_btn_wrapper {
    margin-bottom: 100px;

}

.descrip_btn {
    position: relative;
    display: inline-block;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 18px 40px;
    border-radius: 25px;
    font-weight: 500;
    font-size: 30px;
    color: white;
    background-color: #191919;
    overflow: hidden;
    margin-top: 80px;
    margin-left: 100px;
}

.descrip_btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a5c1e2;
    opacity: 0;
    transition: transform 0.5s, opacity 0.4s;
    transform: translateX(-100%);
}

.descrip_btn:hover::after {
    transform: translateX(100%);
    opacity: 1;
}

.cube_container {
    margin-top: 130px;
}

.contact_info {
    color: white;
}

.contact_telegram {
    color: white;
}

.block_sub {
    display: flex;
    justify-content: flex-start;
    column-gap: 50%;
    margin-right: 40%;
    margin-top: 15%;
}

.text_button {
    color: white;
    font-size: 20px;
    font-family: 'Julius Sans One', sans-serif;
}

.return_but {
 
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
}

.imgsend {
    margin-top: 10%;
    align-self: center;
    cursor: pointer;
    position: relative;
}
.imgsend:hover{
    width: 50px;
}

@media screen and (max-width: 767px) {

    .description {

        margin-bottom: 0px;

    }

    .container_wrapper {
        display: flex;
        column-gap: 15%;
        flex-direction: column;
        padding-top: 35px;
    }

    .desc_content {
        max-width: 300px;
        height: 500px;
        border: none;
        margin-left: 0px;
    }
    .desc_text {
        max-width: 300px;
        font-size: 26px;
        padding-left: 0;
    }

    .desc_subtext {
        margin: auto;
        font-size: 20px;
        max-width: 300px;
        text-align: center;
    }

    .desc_sub_sub {
        margin: auto;
        font-size: 16px;
        text-align: center;
    }

    .contact_info {
        font-size: 16px;
    }

    .contact_telegram {
        font-size: 16px;
    }

    .text_button {
        font-size: 16px;
    }

    .cube_container {
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .contact_wrapper {
        max-width: 200px;
        text-align: center;
    }

    .block_sub {
        display: flex;
        flex-direction: column;
        justify-content: center;
        column-gap: 0;
        margin-right: 0;
        align-items: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {

    .desc_content {
        max-width: 500px;
        margin-top: 30px;
    }

    .desc_text {
        font-size: 45px;
    }

    .desc_subtext {
        margin-left: 100px;
    }

    .desc_sub_sub {
        margin-left: 200px;
    }
    .text_button {
    
        width: 150px;
        text-align: center;

    }
    .block_sub {
        justify-content: center;
    }
    .contact_wrapper {
        max-width: 200px;
    }
}

@media screen and (max-width: 280px) {
.desc_text {
    font-size: 22px;
}
.desc_subtext {
    font-size: 15px;
    max-width: 300px;
    text-align: left;
}
}